# PlatformIO
firmware/.pio/
firmware/.pioenvs/
firmware/.piolibdeps/
firmware/.clang_complete
firmware/.vscode/
firmware/.sconsign.dblite
firmware/.pytest_cache/
firmware/.coverage

# macOS
.DS_Store
**/.DS_Store

# Blender backup files
*.blend1
*.blend2

# Editor
.vscode/
*.swp
*.swo
*~
