firmware/.pio/
firmware/.pioenvs/
firmware/.piolibdeps/
firmware/.clang_complete
firmware/.vscode/
firmware/.sconsign.dblite
firmware/.pytest_cache/
firmware/.coverage
firmware/.pio/libdeps/
firmware/.pio/build/