Firmware/.pio/
Firmware/.pioenvs/
Firmware/.piolibdeps/
Firmware/.clang_complete
Firmware/.vscode/
Firmware/.sconsign.dblite
Firmware/.pytest_cache/
Firmware/.coverage
Firmware/.pio/libdeps/
Firmware/.pio/build/
portals/export
